body {
    margin: 60px auto;
    width: 70%;
   font-family: 'Consolas', 'Monaco', 'monospace';
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}


.header {
    height: 200px;
}

.header .site_header {
  position: relative;
  /*top: 15px;*/
  /*left: 15px;*/
}

.header .avatar{
    float: left;
    /*border-radius: 80px;*/
    height: 200px;
    width: 200px;
    margin-right: 40px;
}

.project-title {
    text-decoration: none;
    color: #000;
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

ul.projects h3{
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
